- var nContact = site.links && site.links.contact || '/contact';
- var nPresskit = site.links && site.links.presskit || '/presskit';

footer#footer
    .inner
        .c8.npl.breakon800
            p.npt.nmt
                span
                    =`© Copyright ${(new Date()).getFullYear()}`
                    |
                    | #{i18n.footer[site.locale].comigo}
                    |
                    | —
                    |
                    | #{i18n.footer[site.locale].siteLicense} #[a(href="https://github.com/ct-js/ct-js-site/raw/master/LICENSE" target="_blank") GPL-3].
                    |
                    | #{i18n.footer[site.locale].appLicense}
            p
                a(href="/") In English
                |
                | |
                |
                a(href="/ru") На русском
                |
                | |
                |
                a(href="/br") Em Português
                |
                | |
                |
                a(href="/de") Auf Deutsch
                |
                | |
                |
                
                a(href="/it") Italiano
                |
                | |
                |
                a(href="/ar") عربية
                |
                | |
                |
                a(href="/zh-CN") 中文 (简体)
                |
                | |
                |
                a(href="/jp") 日本語
                
        .c4.npr.right.breakon800
            a(href="https://github.com/ct-js/ct-js" title=i18n.footer[site.locale].forkUs)
                svg.icon
                    use(xlink:href="/icons.svg#github")
            span &nbsp; &nbsp;
            a(href="https://comigo.itch.io/ct" title=i18n.footer[site.locale].itch)
                svg.icon
                    use(xlink:href="/icons.svg#itch-dot-io")
            span &nbsp; &nbsp;
            a(href=i18n.footer[site.locale].discordLink title=i18n.footer[site.locale].joinServer)
                svg.icon
                    use(xlink:href="/icons.svg#discord")
            span &nbsp; &nbsp;
            a(href="https://t.me/comigogames" title=i18n.footer[site.locale].joinTelegram)
                svg.icon
                    use(xlink:href="/icons.svg#telegram")
            span &nbsp; &nbsp;
            a(href="https://vk.com/ctjsrocks" title=i18n.footer[site.locale].vkontakte)
                svg.icon
                    use(xlink:href="/icons.svg#vk")
            span &nbsp; &nbsp;
            a(href="https://twitter.com/ctjsrocks" title=i18n.footer[site.locale].twitter)
                svg.icon
                    use(xlink:href="/icons.svg#twitter")
            span &nbsp; &nbsp;
            a(href="https://boosty.to/comigo" title=i18n.footer[site.locale].boosty)
                svg.icon
                    use(xlink:href="/icons.svg#boosty")
            // a(href="https://www.patreon.com/comigo" title=i18n.footer[site.locale].patreon)
                svg.icon
                    use(xlink:href="/icons.svg#patreon")
            p
                a(href=nPresskit)=i18n.footer[site.locale].presskit
                |
                | |
                |
                a(href=nContact)=i18n.footer[site.locale].contact
