-
    var nDownload = site.links && site.links.download || '/download',
        nChangelog = site.links && site.links.changelog || '/changelog',
        nDocs = site.links && site.links.docs || 'https://docs.ctjs.rocks/',
        nIndex = site.locale !== 'en' ? `/${site.locale}/` : '/';

nav#theNavBar
    a(href=nIndex title=header[site.locale].gotoHomepage).hide640
        img(src="/img/logoWhiteSmall.png")
    .toright
        a(href=nChangelog)
            svg.feather
                use(xlink:href="/icons.svg#file-text")
            span #{header[site.locale].changelog}
        a(href=nDocs)
            svg.feather
                use(xlink:href="/icons.svg#book-open")
            span #{header[site.locale].docs}
        a(href="https://comigo.itch.io/ct/community")
            svg.feather
                use(xlink:href="/icons.svg#message-square")
            span #{header[site.locale].forum}
        a(href=nDownload)
            svg.feather
                use(xlink:href="/icons.svg#download")
            span #{header[site.locale].download}