nav#theNavBar
    a(href="/" title=header[site.locale].gotoHomepage).hide640
        img(src="/img/logoWhiteSmall.png")
    .toright
        a(href="/changelog")
            i.icon-bookmark
            span #{header[site.locale].changelog}
        a(href="https://docs.ctjs.rocks/")
            i.icon-file
            span #{header[site.locale].docs}
        a(href="https://comigo.itch.io/ct/community")
            i.icon-help
            span #{header[site.locale].forum}
        a(href="/download")
            i.icon-save
            span #{header[site.locale].download}