-
    var nDownload = site.links && site.links.download || '/download',
        nChangelog = site.links && site.links.changelog || '/changelog',
        nDocs = site.links && site.links.docs || 'https://docs.ctjs.rocks/',
        nIndex = site.locale !== 'en' ? `/${site.locale}/` : '/';

nav#theNavBar
    a(href=nIndex title=i18n.header[site.locale].gotoHomepage).hide800
        img(src="/img/logoWhiteSmall.png")
    .toright
        .a.aSelect
            svg.icon
                use(xlink:href="/icons.svg#translate")
            span=i18n.header[site.locale].language
            svg.feather.small.thin
                use(xlink:href=`/icons.svg#chevron-down`)
            .Options
                .anOption
                    a(href="/") In English
                .anOption
                    a(href="/ru") На русском
                .anOption
                    a(href="/br") Em Português
                .anOption
                    a(href="/de") Auf Deutsch

        a(href=nChangelog)
            svg.feather
                use(xlink:href="/icons.svg#file-text")
            span #{i18n.header[site.locale].changelog}
        a(href=nDocs)
            svg.feather
                use(xlink:href="/icons.svg#book-open")
            span #{i18n.header[site.locale].docs}
        a(href="https://comigo.itch.io/ct/community")
            svg.feather
                use(xlink:href="/icons.svg#message-square")
            span #{i18n.header[site.locale].forum}
        a(href=nDownload)
            svg.feather
                use(xlink:href="/icons.svg#download")
            span #{i18n.header[site.locale].download}