section#partners.grey
    .c3.breakon960
    .c6.center.breakon960
        h2.nmt=i18n.homepage[site.locale].partners

        img#theMiniJamLogo(src="/img/minijamlogo.png")

        p.big.nmb
            | #{i18n.homepage[site.locale].miniJam.description}
            |
            |
            a(href="https://discord.gg/kgzG645" target="_blank")=i18n.homepage[site.locale].miniJam.joinServer
            |
            | #{i18n.homepage[site.locale].miniJam.or}
            |
            a(href="http://minijamofficial.com/" target="_blank")=i18n.homepage[site.locale].miniJam.visitSite
            |!
    .clear