section#whatsnext.npt
    .inner
        h2.nmt.center #{i18n.whatsnext[site.locale].whatsnext}
        ol.aNiceOl
            li
                h3.nmt.npt=i18n.whatsnext[site.locale].joinCommunity
                p #{i18n.whatsnext[site.locale].getHelp}
                a.button.nml(href=i18n.whatsnext[site.locale].discordLink)
                    svg.icon
                        use(xlink:href=`/icons.svg#discord`)
                    span #{i18n.whatsnext[site.locale].discordButton}
                a.button(href="https://forum.ctjs.rocks/")
                    svg.feather
                        use(xlink:href=`/icons.svg#message-square`)
                    span #{i18n.whatsnext[site.locale].forumButton}
                a.button(href="https://vk.com/ctjsrocks")
                    svg.icon
                        use(xlink:href=`/icons.svg#vk`)
                    span #{i18n.whatsnext[site.locale].vkButton || 'Vkontakte'}
            li
                h3.nmt.npt=i18n.whatsnext[site.locale].getCheatsheet
                p #{i18n.whatsnext[site.locale].cheatsheetBlurb}
                a.button.nml(href="https://comigo.itch.io/ct-cheat-sheet")
                    svg.feather
                        use(xlink:href=`/icons.svg#download`)
                    span #{i18n.whatsnext[site.locale].download}
            li
                h3.nmt.npt=i18n.whatsnext[site.locale].readTheDocs
                p #{i18n.whatsnext[site.locale].completeTutorials}
                a.button.nml(href="https://docs.ctjs.rocks/")
                    svg.feather
                        use(xlink:href=`/icons.svg#book-open`)
                    span #{i18n.whatsnext[site.locale].docsButton}
            li.heartmarker
                h3.nmt.npt=i18n.whatsnext[site.locale].patreonAlt
                p=i18n.whatsnext[site.locale].patreonRewards
                a.button.nml(href="https://www.patreon.com/comigo" target="_blank")
                    svg.icon
                        use(xlink:href=`/icons.svg#patreon`)
                    span Patreon
                a.button(href="https://comigo.itch.io/ct/purchase" target="_blank")
                    svg.icon
                        use(xlink:href=`/icons.svg#itch-dot-io`)
                    span #{i18n.whatsnext[site.locale].buyOnItchIo}
        .clear