extends pugTemplates/basic.pug
block head
    title Ct.js — полноценный редактор игр. Ещё и бесплатный!
    meta(name="description" content="Бесплатный редактор, построенный на веб-технологиях и выпускающий игры на ПК и веб")
block body
    section.intro#intro.blue.gradient
        .inner
            .c5.breakon640
                img(src="/img/logoWhite.png" title="Логотип ct.js. Ct.js — бесплатная альтернатива Game Maker, Construct и другим")
            .c7.breakon640
                h1.nmt.npb
                    em Твой новый редактор игр
                p.big.
                    С ct.js обучаться программированию легко,
                    а разработка игр становится увлекательным занятием —
                    в нём множество визуальных редакторов и хорошая документация.
                    Доступен для Виндус, Мак и Линукс.
                div
                    a.button.nml(href="/ru/download")
                        i.icon-save
                        span=`Скачать ${downloads.version}`
                    a.button.dim(href="https://discord.gg/CggbPkb" target="_blank")
                        i.icon-discord
                        span   Discord
                    a.button.dim(href="https://github.com/ct-js/ct-js" target="_blank")
                        i.icon-github
                        span   GitHub
            .clear
    section#features
        .inner
            .aFeatureList
                .aFeature.c4.center.breakon800
                    div
                        i.icon-features.huge
                    h3 Хорошо расширяется
                    p.
                        Ядро кота маленькое, но мощное, и расширяется
                        в один клик за счёт модулей.
                        Можно писать и свои модули!
                .aFeature.c4.center.breakon800
                    div
                        i.icon-smile-face.huge
                    h3 Легко изучить
                    p.
                        ct.js подходит и начинающим, и профи.
                        С котом поставляются примеры, исходники
                        проектов и документация.
                .aFeature.c4.center.breakon800
                    div
                        i.icon-responsive.huge
                    h3 Работает везде
                    p.
                        Игры, сделанные на ct.js, работают в любом
                        современном браузере, в т.ч. на телефонах.
                        Есть и экспорт пакетов под десктоп-платформы!
                .clear
    section#slider.blue
        .inner
            h2.center.nmt
                | Расширяемая библиотека
                br
                | с единым визуальным интерфейсом
            p
        .aSlider
            each val in [1, 2, 3, 4, 5, 6, 7]
                img(src=`/img/indexScreenshots/screenshot${val}.png`)
        script(type="text/javascript").
            var opts = {
                controls: false,
                nav: false,

                container: '.aSlider',
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayButton: false,
                autoplayButtonOutput: false,
                mouseDrag: true,
                arrowKeys: true,
                items: 1,
                controls: false,
                gutter: 20,
                edgePadding: 20,
                responsive: {
                    500: {
                        items: 2
                    },
                    1023: {
                        items: 3
                    }
                },
                swipeAngle: false,
                speed: 400
            };
            var slider = tns(opts);
    section.grey#demos
        .inner
            .center
                h2.nmt Демки
                .hSub Каждая демка опен-сорсная и поставляется с ct.js.
            .aCardList
                +aCard("Greed — маленький несерьёзный платформер", "/img/demoCatformer.png", "https://comigo.itch.io/catformer")
                    p.
                        Собери все монетки на карте. Но это непросто!
                    p.nmb.
                        Демка показывает, как создать мир с видом сбоку
                        с кадровыми анимациями, трансформациями копий,
                        созданием простых противников, обработкой
                        столкновений и работой с вводом с клавиатуры.
                +aCard("Catsteroids — космический шутер", "/img/demoCatsteroids.png", "https://comigo.itch.io/catsteroids")
                    p.
                        Пронзайте космос, собирайте бонусы, побейте счёт
                        и разрушьте летящие астероиды и корабли противников!
                    p.nmb.
                        В демке реализовано управление с клавиатуры,
                        созданы несложные меню, обрабатываются столкновения,
                        генерируются новые объекты в ходе игры.
                +aCard("Memocats — головоломка на запоминание", "/img/demoMemocats.png", "https://comigo.itch.io/memocats")
                    p.
                        Найди парные карточки, чтобы очистить доску.
                    p.nmb.
                        Показывает, как воспроизводить звуки,
                        анимировать копии и использовать основную
                        библиотеку ct.js.
                .clear
                .center
                    a.button.big(href="/madeWithCtjs") Сделано с ct.js
    section#essencials.blue
        .inner
            h2.center.nmt В ct.js есть всё, что нужно для создания игры
            -
                var essencials = {
                    'drag-n-drop2': 'Редактор уровней с поддержкой тайлов (плиток)',
                    'code': 'Интегрированный редактор кода с подсветкой ошибок',
                    'layers': 'Обработка столкновений и другие модули',
                    'photos': 'Покадровые и скелетные анимации',
                    'music': 'Фоновая музыка и менеджер звуков',
                    'change-style': 'Стили для текстов в интерфейсе',
                    'file': 'Заметки и документация в выдвижной панеле, на каждой форме',
                    'magic-stick': 'Возможность использовать любой JavaScript-код',
                    'rocket': 'Простые инструменты упаковки и релиза'
                }
            .anEssencialsList
                - var i = 0;
                each val, key in essencials
                    .anEssencial.c4.breakon800
                        i(class=`icon-${key}`)
                        p= val
                    - i++;
                    if (i % 3 === 0 && i !== 0)
                        .clear
    section#SOON
        .inner
            h2.center.nmt СКОРО
            -
                var essencials = {
                    'drag-n-drop2': 'Новый редактор комнат, с живым предпросмотром и слоями',
                    'image-gallery': 'Базовые инструменты редактирования изображений: изменение размера, отражение и т.п.',
                    'features': 'Пользовательские параметры и трансформация копий в редакторе комнат',
                    'cursor-click': 'Редактор интерфейса'
                }
            .anEssencialsList
                - var i = 0;
                each val, key in essencials
                    .anEssencial.c6.breakon640
                        i(class=`icon-${key}`)
                        p= val
                    - i++;
                    if ((i % 2 === 0 && i !== 0) || i === Object.keys(essencials).length)
                        .clear
                .center
                    a.button(href="https://github.com/ct-js/ct-js/projects/1" target="_blank") Наш план разработки
    section#downloadCTA.blue.gradient
        .inner
            .fifty.npl
                .hSub Присоединись к миру геймдева
                h2.nmt
                    b Это бесплатно!
            .fifty.npr.right
                a.button(href="/ru/download")
                    i.icon-save
                    span   Скачать
            .clear
    section#partners.grey
        .c3.breakon960
        .c6.center.breakon960
            h2.nmt Партнёр

            img#theMiniJamLogo(src="/img/minijamlogo.png")

            p.big.nmb
                | Mini Jam — конкурс по разработке игр, который проводится на itch.io каждые две недели.
                |
                |
                a(href="https://discord.gg/kgzG645" target="_blank") Присоединись к их Discord серверу
                |
                | или
                |
                a(href="http://minijamofficial.com/" target="_blank") посети официальный сайт
                |!
        .clear
    section#devlog
        .inner.limited
            h2 Последнее из девлога
            each item in devlog.posts
                .aDevlogPost
                    h3.nmb
                        a(href=item.link[0])=item.title
                    p.nmt.meta=`Published on ${item.pubDate}`
                    .aPostImage!=item.image
                    a.button.nml(href=item.link[0])
                        i.icon-file
                        span   Читать дальше…
            p
                a(href="https://comigo.itch.io/ct/devlog") Все посты
    section#share.grey
        -
            var url = 'https%3A%2F%2Fctjs.rocks%2F',
                title = 'ct.js%20%E2%80%94%20a%20free%20game%20editor';
        .inner.center
            h2.nmt Помоги коту!
            .hSub Расскажи о нём своим друзьям:
            .ShareButtons
                a(href=`http://www.facebook.com/sharer.php?u=${url}` target="_blank")
                    img(src="/img/facebook.svg")
                a(href=`http://vk.com/share.php?url=${url}` target="_blank")
                    img(src="/img/vk.svg")
                a(href=`https://telegram.me/share/url?url=${url}&text=${title}` target="_blank")
                    img(src="/img/telegram.svg")
                a(href=`https://twitter.com/share?url=${url}&text=${title}` target="_blank")
                    img(src="/img/twitter.svg")
                a(href=`whatsapp://send?text=${url}%20${title}` target="_blank" data-action="share/whatsapp/share")
                    img(src="/img/whatsapp.svg")
                a(href=`http://reddit.com/submit?url=${url}&title=${title}` target="_blank")
                    img(src="/img/reddit.svg")
                a(href=`https://plus.google.com/share?url=${url}` target="_blank")
                    img(src="/img/google_plus.svg")
            br
            a(href="https://www.patreon.com/comigo" target="_blank")
                img(src="/img/become_a_patron_button@2x.png" alt="Поддержи проект на патреоне" title="Поддержи проект на патреоне")

mixin aCard(title, image, link)
    .c4.breakon800
        .aCard
            .aCardMedia
                img(src=image)
                .aCardButton
                    a.button(href=link target="_blank")
                        i.icon-play
                        span   Играть
            h4.nmt= title
            if block
                block