extends pugTemplates/basic.pug
block head
    title=i18n.downloadPage[site.locale].pageTitle
    meta(name="description" content=i18n.downloadPage[site.locale].pageDescription)
block body
    section.blue.gradient.wavesbottom#downloads
        .inner
            h1.center
                b=i18n.downloadPage[site.locale].installerDownload
            .aCardList.white
                .c4.breakon800
                    .aCard.center
                        svg.feather.huge
                            use(xlink:href=`/icons.svg#windows`)
                        h2.nmt=i18n.downloadPage[site.locale].windows
                        a.button(href=downloadsInstaller.windows)
                            svg.feather
                                use(xlink:href="/icons.svg#download")
                            span=i18n.downloadPage[site.locale].downloadWebInstaller
                        .anInsetPanel
                            span=i18n.downloadPage[site.locale].alternateVersion
                            .aButtonGroup
                                a.button.outline.small(href=downloads.win64)=i18n.downloadPage[site.locale].downloadx64
                                a.button.outline.small(href=downloads.win32)=i18n.downloadPage[site.locale].downloadx32
                            span=i18n.downloadPage[site.locale].windowsInstructions
                .c4.breakon800
                    .aCard.center
                        span(title="Don't laugh at this icon! I tried my best XD")
                            svg.feather.huge
                                use(xlink:href=`/icons.svg#linux-linear`)
                        h2.nmt=i18n.downloadPage[site.locale].linux
                        a.button(href=downloadsInstaller.linux)
                            svg.feather
                                use(xlink:href="/icons.svg#download")
                            span=i18n.downloadPage[site.locale].downloadWebInstaller
                        .anInsetPanel
                            span=i18n.downloadPage[site.locale].alternateVersion
                            .aButtonGroup
                                a.button.outline.small(href=downloads.linux64)=i18n.downloadPage[site.locale].downloadx64
                                a.button.outline.small(href=downloads.linux32)=i18n.downloadPage[site.locale].downloadx32
                            span=i18n.downloadPage[site.locale].linuxInstructions
                .c4.breakon800
                    .aCard.center
                        svg.feather.huge
                            use(xlink:href=`/icons.svg#apple`)
                        h2.nmt=i18n.downloadPage[site.locale].mac
                        a.button(href=downloadsInstaller.mac)
                            svg.feather
                                use(xlink:href="/icons.svg#download")
                            span=i18n.downloadPage[site.locale].downloadWebInstaller
                        .anInsetPanel
                            span=i18n.downloadPage[site.locale].alternateVersion
                            .aButtonGroup
                                a.button.outline.small(href=downloads.mac64)=i18n.downloadPage[site.locale].downloadx64
                            span=i18n.downloadPage[site.locale].macInstructions
            .clear
            .center
                p.hSub=i18n.downloadPage[site.locale].getFromItch
                iframe(
                    src="https://itch.io/embed/238348?bg_color=ffffff&fg_color=222222&link_color=446adb&border_color=cccccc"
                    width="552" height="167" frameborder="0"
                    style=style="border-radius: 0.35rem;"
                )
            .clear
    include /whatsnext.pug
    section#share
        include /shareBlock.pug