extends pugTemplates/basic.pug
block head
    title Download ct.js Next
    meta(name="description" content="Download a free 2D game editor from its official site.")
block body
    section.blue#downloads
        .inner
            h2.center 
                b Welcome aboard!
            .hSub.center You are downloading ct.js from the <b>preview</b> channel. Select your operating system
            .aCardList.white
                .c4.breakon800
                    .aCard.center
                        i.icon-windows.huge
                        h3 Windows
                        p Windows 7 and higher. Unzip and run ctjs.exe
                        a.button(href=downloads.win64Next) Download x64
                        a.button.small(href=downloads.win32Next) Download x32
                .c4.breakon800
                    .aCard.center
                        i.icon-laptop.huge
                        h3 Linux
                        p Unpack, mark 'ctjs' as an executable and run ./ctjs
                        a.button(href=downloads.linux64Next) Download x64
                        a.button.small(href=downloads.linux32Next) Download x32
                .c4.breakon800
                    .aCard.center
                        i.icon-apple.huge
                        h3 Mac
                        p Untested, but should work. Use at your own risk!
                        a.button(href=downloads.mac64Next) Download x64
            .clear
            .center
                p.hSub or get ct.js now on itch.io
                iframe(src="https://itch.io/embed/238348?bg_color=ffffff&fg_color=222222&link_color=446adb&border_color=cccccc" width="552" height="167" frameborder="0")
    include /whatsnext.pug