extends pugTemplates/basic.pug
block head
    title=i18n.homepage[site.locale].pageTitle
    meta(name="description" content=i18n.homepage[site.locale].pageDescription)
block body
    - var nDownload = site.links && site.links.download || '/download'
    section.intro#intro.blue.gradient
        .wideinner.flexrow
            .c4.breakon1400.np#thePunchText
                h1.nm
                    em=i18n.homepage[site.locale].meetCtjs
                    span=i18n.homepage[site.locale].yourNewEditor
                p.big.nmt=i18n.homepage[site.locale].punchline
                p.big=i18n.homepage[site.locale].lovedBy
                a.button.nml(href=nDownload)
                    svg.feather
                        use(xlink:href="/icons.svg#download")
                    span=`${i18n.homepage[site.locale].download} ${downloads.version}`
                div.showon1400
                svg.icon.platformIcon
                    use(xlink:href="/icons.svg#windows")
                svg.icon.platformIcon
                    use(xlink:href="/icons.svg#apple")
                svg.icon.platformIcon
                    use(xlink:href="/icons.svg#linux")
                a(href="https://github.com/ct-js/ct-js" target="_blank")
                    svg.icon.platformIcon
                        use(xlink:href="/icons.svg#github")
                //-
                    a.button.dim(href="https://discord.gg/CggbPkb" target="_blank")
                        svg.icon
                            use(xlink:href="/icons.svg#discord")
                        span=i18n.homepage[site.locale].discord
                    a.button.dim(href="https://github.com/ct-js/ct-js" target="_blank")
                        svg.icon
                            use(xlink:href="/icons.svg#github")
                        span=i18n.homepage[site.locale].github
            img(src="/img/Planet.svg")#theLittlePlanet
            img(src="/img/Planet.svg")#theBiggerPlanet
            .c8.breakon1400#theIllustration
                img(src="/img/Rocket.svg" style="animation-delay: -3s;")#theRocket.floating
                img(src="/img/HomepageScreenshot.jpg")#theHomepageScreenshot
            img(src="/img/HammerCat.svg" style="animation-delay: -1.2s;")#theHammerCat.floating
            img(src="/img/GamepadCat.svg")#theGamepadCat.floating
            .clear
        svg.icon.aScrollDownIcon
            use(xlink:href="/icons.svg#scrollDown")
    section#features.npt
        .wideinner
            .aFeatureList
                .c7.breakon1400
                    .container-video
                        iframe#theVideoPlayer(
                            src="https://player.vimeo.com/video/381063386"
                            width="640" height="360" frameborder="0"
                            allow="autoplay"
                        )

                    // img(src="/img/HomepageScreenshot.jpg")
                .c5.breakon1400
                    .aFeature.active(data-video-id="381063386")
                        .aFeature-aPlaybackThumb
                        h3=i18n.homepage[site.locale].smoothWorkflowHeader
                        p=i18n.homepage[site.locale].smoothWorkflowParagraph
                    .aFeature(data-video-id="381251535")
                        .aFeature-aPlaybackThumb
                        h3=i18n.homepage[site.locale].beginnerFriendlyHeader
                        p=i18n.homepage[site.locale].beginnerFriendlyParagraph
                    .aFeature(data-video-id="381254631")
                        .aFeature-aPlaybackThumb
                        h3=i18n.homepage[site.locale].powerfulHeader
                        p=i18n.homepage[site.locale].powerfulParagraph
                .clear
    section.blue.gradient.waves#demos
        .wideinner
            .center
                h2.nmt=i18n.homepage[site.locale].gamesOfAnyGenre
                .hSub=i18n.homepage[site.locale].gamesOfAnyGenreSub
            .aGameList
                +aGame("StormCross", "/img/stormCross.png", "https://comigo.itch.io/stormcross")
                    p=i18n.homepage[site.locale].stormCrossParagraph
                +aGame("Among the wolves", "/img/amongTheWolves.png", "https://comigo.itch.io/among-the-wolves")
                    p=i18n.homepage[site.locale].amongTheWolvesParagraph
                +aGame("Welcome to the VOID", "/img/welcomeToTheVOID.png", "https://comigo.itch.io/welcome-to-the-void")
                    p=i18n.homepage[site.locale].welcomeToTheVOIDParagraph
                .center
                    - var nMadeWithCt = site.links && site.links.madeWithCtjs || '/madeWithCtjs'
                    a.button.big(href=nMadeWithCt)
                        svg.feather
                            use(xlink:href=`/icons.svg#gamepad`)
                        span=i18n.homepage[site.locale].madeWithCtjs
    section#essencials
        .inner
            h2.center.nmt=i18n.homepage[site.locale].everythingYouNeedHeader
            -
                var essencials = {
                    'room-editor': i18n.homepage[site.locale].essentials.roomEditor,
                    'error-handling': i18n.homepage[site.locale].essentials.codeEditor,
                    'collision': i18n.homepage[site.locale].essentials.collisionHandling,
                    'film': i18n.homepage[site.locale].essentials.animations,
                    'music': i18n.homepage[site.locale].essentials.sounds,
                    'sparkles': i18n.homepage[site.locale].essentials.fx,
                    'book-open': i18n.homepage[site.locale].essentials.docs,
                    'code': i18n.homepage[site.locale].essentials.customJS,
                    'package': i18n.homepage[site.locale].essentials.easyPacking
                }
            .anEssencialsList
                - var i = 0;
                each val, key in essencials
                    .anEssencial.c4.breakon960.centeron960
                        svg.feather
                            use(xlink:href=`/icons.svg#${key}`)
                        p.breakon960= val
                    - i++;
                    if (i % 3 === 0 && i !== 0)
                        .clear
                .clear
            .center
                - var nAllFeatures = site.links && site.links.allFeatures || '/presskit#features'
                a.button.big(href=nAllFeatures)
                    svg.feather
                        use(xlink:href=`/icons.svg#sparkles`)
                    span=i18n.homepage[site.locale].allFeatures
    include /joinGamedev.pug
    section#partners.grey
        .c3.breakon960
        .c6.center.breakon960
            h2.nmt=i18n.homepage[site.locale].partners

            img#theMiniJamLogo(src="/img/minijamlogo.png")

            p.big.nmb
                | #{i18n.homepage[site.locale].miniJam.description}
                |
                |
                a(href="https://discord.gg/kgzG645" target="_blank")=i18n.homepage[site.locale].miniJam.joinServer
                |
                | #{i18n.homepage[site.locale].miniJam.or}
                |
                a(href="http://minijamofficial.com/" target="_blank")=i18n.homepage[site.locale].miniJam.visitSite
                |!
        .clear
    section#devlog
        .inner.limited
            h2=i18n.homepage[site.locale].devlog.latest
            each item in devlog.posts
                .aDevlogPost
                    h3.nmb
                        a(href=item.link[0])=item.title
                    p.nmt.meta=`${item.pubDate}`
                    .aPostImage!=item.image
                    a.button.nml(href=item.link[0])
                        svg.feather
                            use(xlink:href="/icons.svg#arrow-right")
                        span=i18n.homepage[site.locale].devlog.readMore
            p
                a(href="https://comigo.itch.io/ct/devlog")=i18n.homepage[site.locale].devlog.morePosts
    section.grey#share
        include /shareBlock.pug
    script(src="https://player.vimeo.com/api/player.js")
    script.
        var iframe = document.getElementById('theVideoPlayer');
        var player = new Vimeo.Player(iframe);
        var thumb = document.querySelector('.aFeature.active .aFeature-aPlaybackThumb');
        var duration;

        player.setAutopause(false);
        player.setLoop(true);
        player.setColor('#5779df');
        player.play();
        player.getDuration()
        .then(function (dur) {
            duration = dur;
        });

        var featureLists = document.querySelectorAll('.aFeatureList');
        for (var i = 0; i < featureLists.length; i++) {
            featureLists[i].addEventListener('click', function (event) {
                var feature = event.target.closest('.aFeature');
                if (feature) {
                    var id = feature.getAttribute('data-video-id');
                    player.loadVideo(id)
                    .then(function () {
                        player.play();
                        player.setColor('#5779df');
                        player.getDuration()
                        .then(function (dur) {
                            duration = dur;
                        });
                    });
                    var features = feature.closest('.aFeatureList').querySelectorAll('.aFeature');
                    for (var j = 0; j < features.length; j++) {
                        features[j].classList.remove('active');
                    }
                    feature.classList.add('active');
                    thumb.style.top = 0;
                    thumb = feature.querySelector('.aFeature-aPlaybackThumb');
                    thumb.style.top = 0;
                }
            });
        }

        setInterval(function() {
            if (duration) {
                player.getCurrentTime()
                .then(function (secs) {
                    thumb.style.top = thumb.parentElement.getBoundingClientRect().height / duration * secs + 'px';
                });
            }
        }, 500);

mixin aGame(title, image, link)
    .c4.breakon960
        .aGame
            .aGameMedia
                img(src=image)
                .aGameButton
                    a.button(href=link target="_blank")
                        svg.feather
                            use(xlink:href="/icons.svg#play")
                        span=i18n.homepage[site.locale].play
            h4.nmt= title
            if block
                block
