extends pugTemplates/basic.pug
block head
    title=i18n.homepage[site.locale].pageTitle
    meta(name="description" content=i18n.homepage[site.locale].pageDescription)
block body
    - var nDownload = site.links && site.links.download || '/download'
    section.intro#intro.blue.gradient
        .inner
            .c5.breakon640
                img(src="/img/logoWhite.png" title=i18n.homepage[site.locale].logoAlt)
            .c7.breakon640
                h1.nm.npt
                    em=i18n.homepage[site.locale].yourNewEditor
                p.big.nmt=i18n.homepage[site.locale].punchline
                div
                    a.button.nml(href=nDownload)
                        svg.feather
                            use(xlink:href="/icons.svg#download")
                        span=`${i18n.homepage[site.locale].download} ${downloads.version}`
                    a.button.dim(href="https://discord.gg/CggbPkb" target="_blank")
                        svg.icon
                            use(xlink:href="/icons.svg#discord")
                        span=i18n.homepage[site.locale].discord
                    a.button.dim(href="https://github.com/ct-js/ct-js" target="_blank")
                        svg.icon
                            use(xlink:href="/icons.svg#github")
                        span=i18n.homepage[site.locale].github
            .clear
    section#features
        .inner
            .aFeatureList
                .aFeature.c4.center.breakon800
                    div
                        svg.feather.huge
                            use(xlink:href="/icons.svg#module")
                    h3=i18n.homepage[site.locale].extensible
                    p=i18n.homepage[site.locale].paragraphExtensible
                .aFeature.c4.center.breakon800
                    div
                        svg.feather.huge
                            use(xlink:href="/icons.svg#smile")
                    h3=i18n.homepage[site.locale].easyToLearn
                    p=i18n.homepage[site.locale].paragraphEasyToLearn
                .aFeature.c4.center.breakon800
                    div
                        svg.feather.huge
                            use(xlink:href="/icons.svg#crossplatform")
                    h3=i18n.homepage[site.locale].runsEverywhere
                    p=i18n.homepage[site.locale].paragraphRunsEverywhere
                .clear
    section#slider.blue
        .inner
            h2.center.nmt
                | #{i18n.homepage[site.locale].extensiveLibrary}
                br
                | #{i18n.homepage[site.locale].visualWorkflow}
            p
        .aSlider
            each val in [1, 2, 3, 4, 5, 6, 7]
                img(src=`/img/indexScreenshots/screenshot${val}.png`)
        script(type="text/javascript").
            var opts = {
                controls: false,
                nav: false,

                container: '.aSlider',
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayButton: false,
                autoplayButtonOutput: false,
                mouseDrag: true,
                arrowKeys: true,
                items: 1,
                controls: false,
                gutter: 20,
                edgePadding: 20,
                responsive: {
                    500: {
                        items: 2
                    },
                    1023: {
                        items: 3
                    }
                },
                swipeAngle: false,
                speed: 400
            };
            var slider = tns(opts);
    section.grey#demos
        .inner
            .center
                h2.nmt=i18n.homepage[site.locale].demos
                .hSub=i18n.homepage[site.locale].demosSubheading
            .aCardList
                +aCard(i18n.homepage[site.locale].greed, "/img/demoCatformer.png", "https://comigo.itch.io/catformer")
                    p=i18n.homepage[site.locale].greedP1
                    p.nmb=i18n.homepage[site.locale].greedP2
                +aCard(i18n.homepage[site.locale].catsteroids, "/img/demoCatsteroids.png", "https://comigo.itch.io/catsteroids")
                    p=i18n.homepage[site.locale].catsteroidsP1
                    p.nmb=i18n.homepage[site.locale].catsteroidsP2
                +aCard(i18n.homepage[site.locale].memocats, "/img/demoMemocats.png", "https://comigo.itch.io/memocats")
                    p=i18n.homepage[site.locale].memocatsP1
                    p.nmb=i18n.homepage[site.locale].memocatsP2
                .clear
                .center
                    - var nMadeWithCt = site.links && site.links.madeWithCtjs || '/madeWithCtjs'
                    a.button.big(href=nMadeWithCt)
                        svg.feather
                            use(xlink:href=`/icons.svg#gamepad`)
                        span=i18n.homepage[site.locale].madeWithCtjs
    section#essencials.blue
        .inner
            h2.center.nmt=i18n.homepage[site.locale].everythingYouNeedHeader
            -
                var essencials = {
                    'room-editor': i18n.homepage[site.locale].essentials.roomEditor,
                    'error-handling': i18n.homepage[site.locale].essentials.codeEditor,
                    'collision': i18n.homepage[site.locale].essentials.collisionHandling,
                    'film': i18n.homepage[site.locale].essentials.animations,
                    'music': i18n.homepage[site.locale].essentials.sounds,
                    'type': i18n.homepage[site.locale].essentials.styles,
                    'book-open': i18n.homepage[site.locale].essentials.docs,
                    'code': i18n.homepage[site.locale].essentials.customJS,
                    'package': i18n.homepage[site.locale].essentials.easyPacking
                }
            .anEssencialsList
                - var i = 0;
                each val, key in essencials
                    .anEssencial.c4.breakon960.centeron960
                        svg.feather
                            use(xlink:href=`/icons.svg#${key}`)
                        p.breakon960= val
                    - i++;
                    if (i % 3 === 0 && i !== 0)
                        .clear
                .clear
    section#SOON
        .inner
            h2.center.nmt=i18n.homepage[site.locale].essentials.comingSoon
            -
                var soon = {
                    'simulation': i18n.homepage[site.locale].soon.newRoomEditor,
                    'image': i18n.homepage[site.locale].soon.imageEditing,
                    'edit': i18n.homepage[site.locale].soon.customParameters,
                    'mouse-pointer': i18n.homepage[site.locale].soon.uiEditor
                }
            .anEssencialsList
                - var i = 0;
                each val, key in soon
                    .anEssencial.c6.breakon800.centeron800
                        svg.feather
                            use(xlink:href=`/icons.svg#${key}`)
                        p.breakon800= val
                    - i++;
                    if ((i % 2 === 0 && i !== 0) || i === Object.keys(soon).length)
                        .clear
                .center
                    a.button(href="https://github.com/orgs/ct-js/projects/1" target="_blank")
                        svg.feather
                            use(xlink:href="/icons.svg#map")
                        span=i18n.homepage[site.locale].seeRoadmap
    include /joinGamedev.pug
    section#partners.grey
        .c3.breakon960
        .c6.center.breakon960
            h2.nmt=i18n.homepage[site.locale].partners

            img#theMiniJamLogo(src="/img/minijamlogo.png")

            p.big.nmb
                | #{i18n.homepage[site.locale].miniJam.description}
                |
                |
                a(href="https://discord.gg/kgzG645" target="_blank")=i18n.homepage[site.locale].miniJam.joinServer
                |
                | #{i18n.homepage[site.locale].miniJam.or}
                |
                a(href="http://minijamofficial.com/" target="_blank")=i18n.homepage[site.locale].miniJam.visitSite
                |!
        .clear
    section#devlog
        .inner.limited
            h2=i18n.homepage[site.locale].devlog.latest
            each item in devlog.posts
                .aDevlogPost
                    h3.nmb
                        a(href=item.link[0])=item.title
                    p.nmt.meta=`${item.pubDate}`
                    .aPostImage!=item.image
                    a.button.nml(href=item.link[0])
                        svg.feather
                            use(xlink:href="/icons.svg#arrow-right")
                        span=i18n.homepage[site.locale].devlog.readMore
            p
                a(href="https://comigo.itch.io/ct/devlog")=i18n.homepage[site.locale].devlog.morePosts
    include /shareBlock.pug
mixin aCard(title, image, link)
    .c4.breakon800
        .aCard
            .aCardMedia
                img(src=image)
                .aCardButton
                    a.button(href=link target="_blank")
                        svg.feather
                            use(xlink:href="/icons.svg#play")
                        span=i18n.homepage[site.locale].play
            h4.nmt= title
            if block
                block