extends pugTemplates/basic.pug
block head
    title=i18n.homepage[site.locale].pageTitle
    meta(name="description" content=i18n.homepage[site.locale].pageDescription)
block body
    - var nDownload = site.links && site.links.download || '/download'
    section.intro#intro.blue.gradient
        .wideinner.flexrow
            .c4.breakon1400.np#thePunchText
                h1.nm
                    em=i18n.homepage[site.locale].meetCtjs
                    span=i18n.homepage[site.locale].yourNewEditor
                p.big.nmt=i18n.homepage[site.locale].punchline
                p.big=i18n.homepage[site.locale].lovedBy
                include /homepageDownload.pug
            img(src="/img/Planet.svg")#theLittlePlanet
            img(src="/img/Planet.svg")#theBiggerPlanet
            .c8.breakon1400#theIllustration
                img(src="/img/Rocket.svg" style="animation-delay: -3s;")#theRocket.floating
                img(src="/img/HomepageScreenshot.png")#theHomepageScreenshot
            img(src="/img/HammerCat.svg" style="animation-delay: -1.2s;")#theHammerCat.floating
            img(src="/img/GamepadCat.svg")#theGamepadCat.floating
            .clear
        svg.icon.aScrollDownIcon
            use(xlink:href="/icons.svg#scrollDown")
    section#languages.npt
        .wideinner
            .center
                h2.nmt=i18n.homepage[site.locale].languages
        .aLanguageList
            .aLanguage
                .center
                    h3
                        svg.icon
                            use(xlink:href="/icons.svg#javascript")
                        svg.icon
                            use(xlink:href="/icons.svg#typescript")
                        span JavaScript & TypeScript
                    .hSub=i18n.homepage[site.locale].jsDesc
                code
                    pre
                        :highlight(lang="javascript")
                            // Event for a collision with a bullet
                            var damage = 5;
                            // 15% crit chance!
                            if (random.chance(15, 100)) {
                                damage *= 2;
                            }
                            this.hp -= damage;

                            // Destroy the projectile
                            other.kill = true;

                            if (this.hp <= 0) {
                                this.kill = true;
                            }
            .aLanguage
                .center
                    h3
                        svg.icon
                            use(xlink:href="/icons.svg#coffeescript")
                        span CoffeeScript
                    .hSub=i18n.homepage[site.locale].coffeeDesc
                code
                    pre
                        :highlight(lang="coffeescript")
                            # Event for collision with a bullet
                            damage = 5

                            # 15% crit chance!
                            if random.chance 15, 100
                                damage *= 2

                            @hp -= damage

                            # Destroy the projectile
                            other.kill = true

                            if @hp <= 0
                                @kill = true
            .aLanguage
                .center
                    h3
                        svg.feather
                            use(xlink:href="/icons.svg#catnip")
                        span Catnip
                    .hSub=i18n.homepage[site.locale].catnipDesc
                catnip-block.command
                    svg.feather
                        use(xlink:href="/icons.svg#code-alt")
                    span.catnip-block-aTextLabel Set
                    catnip-block.computed.wildcard.wildcard.userdefined
                        svg.feather
                            use(xlink:href="/icons.svg#clock")
                        |
                        span.catnip-block-aTextLabel damage
                    span.catnip-block-aTextLabel value
                    |
                    input.catnip-block-aConstantInput.wildcard(type="text", style="width: 1.5ch;", value="5", readonly)
                catnip-block.command.note
                    svg.feather
                        use(xlink:href="/icons.svg#message-circle")
                    |  15% Crit chance!
                catnip-block.command
                    svg.feather
                        use(xlink:href="/icons.svg#help-circle")
                    span.catnip-block-aTextLabel If
                    catnip-block.computed.boolean.boolean
                        svg.feather
                            use(xlink:href="/icons.svg#sort-numerically")
                        span.catnip-block-aTextLabel random chance
                        |
                        input.catnip-block-aConstantInput.number(type="text", style="width: 2.5ch;", value="15", readonly)
                        |
                        input.catnip-block-aConstantInput.number(type="text", style="width: 3.5ch;", value="100", readonly)
                    .catnip-block-Blocks
                        catnip-block-list
                            catnip-block.command
                                svg.feather
                                    use(xlink:href="/icons.svg#code-alt")
                                span.catnip-block-aTextLabel Set
                                catnip-block.computed.wildcard.wildcard.userdefined
                                    svg.feather
                                        use(xlink:href="/icons.svg#clock")
                                    |
                                    span.catnip-block-aTextLabel damage
                                span.catnip-block-aTextLabel value
                                catnip-block.computed.number.wildcard
                                    catnip-block.computed.wildcard.number.userdefined
                                        svg.feather
                                            use(xlink:href="/icons.svg#clock")
                                        |
                                        span.catnip-block-aTextLabel damage
                                    span.catnip-block-aTextLabel ×
                                    |
                                    input.catnip-block-aConstantInput.number(type="text", style="width: 1.5ch;", value="2", readonly)
                catnip-block.command
                    svg.feather
                        use(xlink:href="/icons.svg#minus-circle")
                    span.catnip-block-aTextLabel Decrease
                    catnip-block.computed.wildcard.wildcard.userdefined
                        svg.feather
                            use(xlink:href="/icons.svg#archive")
                        |
                        span.catnip-block-aTextLabel hp
                    span.catnip-block-aTextLabel by
                    catnip-block.computed.wildcard.number.userdefined
                        svg.feather
                            use(xlink:href="/icons.svg#clock")
                        |
                        span.catnip-block-aTextLabel damage
                catnip-block.command.note
                    svg.feather
                        use(xlink:href="/icons.svg#message-circle")
                    |  Destroy the projectile
                catnip-block.command.void
                    svg.feather
                        use(xlink:href="/icons.svg#template")
                    span.catnip-block-aTextLabel With copy
                    catnip-block.computed.wildcard.wildcard.userdefined
                        svg.feather
                            use(xlink:href="/icons.svg#bell")
                        |
                        span.catnip-block-aTextLabel other
                    .catnip-block-Blocks
                        catnip-block-list
                            catnip-block.command
                                svg.feather
                                    use(xlink:href="/icons.svg#template")
                                span.catnip-block-aTextLabel Destroy this copy
                catnip-block.command
                    svg.feather
                        use(xlink:href="/icons.svg#help-circle")
                    span.catnip-block-aTextLabel If
                    catnip-block.computed.boolean.boolean
                        catnip-block.computed.wildcard.number.userdefined
                            svg.feather
                                use(xlink:href="/icons.svg#archive")
                            |
                            span.catnip-block-aTextLabel hp
                        span.catnip-block-aTextLabel ≤
                        |
                        input.catnip-block-aConstantInput.number(type="text", style="width: 1.5ch;", value="0", readonly)
                    .catnip-block-Blocks
                        catnip-block-list
                            catnip-block.command
                                svg.feather
                                    use(xlink:href="/icons.svg#template")
                                span.catnip-block-aTextLabel Destroy this copy
    section.blue.gradient.waves#demos
        .wideinner
            .center
                h2.nmt=i18n.homepage[site.locale].gamesOfAnyGenre
                .hSub=i18n.homepage[site.locale].gamesOfAnyGenreSub
            .aGameList
                +aGame("Ill Fated", "/img/illFated.png", "https://wadizdaz.itch.io/ill-fated")
                    p=i18n.homepage[site.locale].illFatedParagraph
                +aGame("Vacation of Fusion", "/img/vacationOfFusion.png", "https://comigo.itch.io/vacation-of-fusion")
                    p=i18n.homepage[site.locale].vacationOfFusionParagraph
                +aGame("Welcome to the VOID", "/img/welcomeToTheVOID.png", "https://comigo.itch.io/welcome-to-the-void")
                    p=i18n.homepage[site.locale].welcomeToTheVOIDParagraph
                // .center.clear
                    - var nMadeWithCt = site.links && site.links.madeWithCtjs || '/madeWithCtjs'
                    a.button.big(href=nMadeWithCt)
                        svg.feather
                            use(xlink:href=`/icons.svg#gamepad`)
                        span=i18n.homepage[site.locale].madeWithCtjs
                .clear
                .center
                    a.button.big(href="/submitgame/")
                        svg.feather
                            use(xlink:href=`/icons.svg#send`)
                        span=i18n.homepage[site.locale].submitYourGame
    section#essencials
        .inner
            h2.center.nmt=i18n.homepage[site.locale].everythingYouNeedHeader
            -
                var essencials = {
                    'room-editor': i18n.homepage[site.locale].essentials.roomEditor,
                    'error-handling': i18n.homepage[site.locale].essentials.codeEditor,
                    'collision': i18n.homepage[site.locale].essentials.collisionHandling,
                    'film': i18n.homepage[site.locale].essentials.animations,
                    'music': i18n.homepage[site.locale].essentials.sounds,
                    'sparkles': i18n.homepage[site.locale].essentials.fx,
                    'book-open': i18n.homepage[site.locale].essentials.docs,
                    'code': i18n.homepage[site.locale].essentials.customJS,
                    'package': i18n.homepage[site.locale].essentials.easyPacking
                }
            .anEssencialsList
                - var i = 0;
                each val, key in essencials
                    .anEssencial.c4.breakon960.centeron960
                        svg.feather
                            use(xlink:href=`/icons.svg#${key}`)
                        p.breakon960= val
                    - i++;
                    if (i % 3 === 0 && i !== 0)
                        .clear
                .clear
            .center
                - var nAllFeatures = site.links && site.links.allFeatures || '/presskit#features'
                a.button.big(href=nAllFeatures)
                    svg.feather
                        use(xlink:href=`/icons.svg#sparkles`)
                    span=i18n.homepage[site.locale].allFeatures
    include /joinGamedev.pug
    include /partnersSection.pug
    section#devlog(dir="ltr" lang="en")
        .inner.limited
            h2=i18n.homepage[site.locale].devlog.latest
            each item in devlog.posts
                .aDevlogPost
                    h3.nmb
                        a(href=item.link[0])=item.title
                    p.nmt.meta=`${item.pubDate}`
                    .aPostImage!=item.image
                    a.button.nml(href=item.link[0])
                        svg.feather
                            use(xlink:href="/icons.svg#arrow-right")
                        span=i18n.homepage[site.locale].devlog.readMore
            p(dir=(site.locale === 'ar' ? 'rtl' : 'ltr') lang=site.locale)
                a(href="https://comigo.itch.io/ct/devlog")=i18n.homepage[site.locale].devlog.morePosts
    section.grey#share
        include /shareBlock.pug
    script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
    script.
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }

mixin aGame(title, image, link)
    .c4.breakon960
        .aGame
            .aGameMedia
                img(src=image)
                .aGameButton
                    a.button(href=link target="_blank")
                        svg.feather
                            use(xlink:href="/icons.svg#play")
                        span=i18n.homepage[site.locale].play
            h4.nmt= title
            if block
                block