extends pugTemplates/basic.pug
block head
    title=i18n.madeWithCtjs[site.locale].pageTitle
    meta(name="description" content=i18n.madeWithCtjs[site.locale].pageDescription)
block body
    section.blue.gradient
        .inner.center
            h1=i18n.madeWithCtjs[site.locale].madeWithCths
    section
        .inner
            each game, ind in madeWithCtjs.games
                +aCard(game.plainTitle, game.imageurl[0], game.link[0])
                    p=game.description
                if ind % 3 === 2
                    .clear
            .clear
            .center
                a.button.big(href="/contact")=i18n.madeWithCtjs[site.locale].submitProject
    include /joinGamedev.pug
mixin aCard(title, image, link)
    .c4
        .aCard
            .aCardMedia
                img(src=image)
                .aCardButton
                    a.button(href=link target="_blank")
                        i.icon-play
                        span=i18n.madeWithCtjs[site.locale].play
            h4.nmt= title
            if block
                block