extends pugTemplates/basic.pug

mixin roadmapColumn(posts, header)
    .c4.breakon960
        h2.nmt=header
        if posts && posts.length
            each item in posts
                .anIssue(title="Click for details")
                    h4.nm
                        code.inline=item.issueId
                        span=` ${item.summary}`
                    .anIssueDescription
                        if item.description
                            div!=item.description
                        p
                            b Last updated:
                            |
                            |
                            span=`${(new Date(item.updated[0])).toLocaleString()}`
                            if item.assignees && item.assignees[0].assignee
                                br
                                b Assigned to:
                                |
                                |
                                for assignee in item.assignees[0].assignee
                                    span=assignee.name
                                    |
                                    |
                    each label in item.labels
                        .aLabel=label
        else
            p None! This column will be filled once we plan out our next release.

block head
    title Roadmap — Ct.js
    meta(name="description" content="Send an email to the developer.")
block body
    section.blue.gradient
        .inner.center
            h1 Roadmap
            .hSub Showing latest 10 issues in each column
    section.npt.grey#roadmap
        +roadmapColumn(roadmap[0].posts, 'Recently added issues')
        +roadmapColumn(roadmap[1].posts, 'Upcoming changes')
        +roadmapColumn(roadmap[2].posts, 'Recently closed issues')
        .clear
    script.
        document.getElementById('roadmap').addEventListener('click', function (e) {
            if (!e.target) {
                return;
            }
            var elt = e.target.closest('.anIssue');
            if (!elt.classList.contains('active')) {
                elt.classList.add('active');
            } else {
                elt.classList.remove('active');
            }
        });