extends pugTemplates/basic.pug
block head
    title Baixe ct.js
    meta(name="description" content="Faça o download de um editor de jogos 2D gratuito em seu site oficial.")
block body
    section.blue#downloads
        .inner
            h2.center
                b Bem vindo a bordo, marujo!
            .aCardList.white
                .c4.breakon800
                    .aCard.center
                        i.icon-windows.huge
                        h3 Windows
                        p Windows 7 e maiores. descompacte e abra ctjs.exe
                        a.button(href=downloads.win64) Baixar x64
                        a.button.small(href=downloads.win32) Baixar x32
                .c4.breakon800
                    .aCard.center
                        i.icon-laptop.huge
                        h3 Linux
                        p Descompacte, marque 'ctjs' como um executável e rode ./ctjs
                        a.button(href=downloads.linux64) Baixar x64
                        a.button.small(href=downloads.linux32) Baixar x32
                .c4.breakon800
                    .aCard.center
                        i.icon-apple.huge
                        h3 Mac
                        p Não testado, mas deve funcionar. Use por sua conta e risco!
                        a.button(href=downloads.mac64) Baixar x64
            .clear
            .center
                p.hSub ou obtenha o ct.js agora no itch.io
                iframe(src="https://itch.io/embed/238348?bg_color=ffffff&fg_color=222222&link_color=446adb&border_color=cccccc" width="552" height="167" frameborder="0")
    include /whatsnext.pug