extends pugTemplates/basic.pug
block head
    title Ct.js — um editor de jogos grátis
    meta(name="description" content="Um editor de jogos 2D grátis baseado em tecnologias de Web.")
block body
    section.intro#intro.blue.gradient
        .inner
            .c5.breakon640
                img(src="/img/logoWhite.png" title="A ct.js logo. Ct.js is a free alternative to Game Maker, Construct and others")
            .c7.breakon640
                h1.nmt.npb
                    em O seu novo editor de jogos 2D
                p.big.
                    O ct.js visa tornar a aprendizagem da programação divertida e desenvolvimento de jogos fácil por seus editores visuais e biblioteca de códigos bem documentada. Está disponível para Windows, Linux e Mac.
                div
                    a.button.nml(href="/br/download")
                        i.icon-save
                        span=`Baixar ${downloads.version}`
                    a.button.dim(href="https://discord.gg/CggbPkb" target="_blank")
                        svg.icon
                            use(xlink:href=`/icons.svg#discord`)
                        span Discord
                    a.button.dim(href="https://github.com/ct-js/ct-js" target="_blank")
                        i.icon-github
                        span GitHub
            .clear
    section#features
        .inner
            .aFeatureList
                .aFeature.c4.center.breakon800
                    div
                        i.icon-features.huge
                    h3 Altamente extensível
                    p.
                        A biblioteca principal do ct.js é pequena, mas poderosa e pode ser facilmente estendido em um clique por módulos. Você também pode escrever seus próprios módulos!
                .aFeature.c4.center.breakon800
                    div
                        i.icon-smile-face.huge
                    h3 Fácil de aprender
                    p.
                        O ct.js é acessível e pronto para uso em ambos iniciantes e profissionais. É empacotado com exemplos, tutoriais e documentos.
                .aFeature.c4.center.breakon800
                    div
                        i.icon-responsive.huge
                    h3 Jogos que rodam tudo
                    p.
                        Os jogos criados com o ct.js são executados em qualquer navegador moderno, incluindo os móveis. Você também pode arrumar seu jogo como um executável para Windows, Mac e Linux!
                .clear
    section#slider.blue
        .inner
            h2.center.nmt
                | ct.js é uma biblioteca extensível
                br
                | juntamente com um fluxo de trabalho visual
            p
        .aSlider
            each val in [1, 2, 3, 4, 5, 6, 7]
                img(src=`/img/indexScreenshots/screenshot${val}.png`)
        script(type="text/javascript").
            var opts = {
                controls: false,
                nav: false,

                container: '.aSlider',
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayButton: false,
                autoplayButtonOutput: false,
                mouseDrag: true,
                arrowKeys: true,
                items: 1,
                controls: false,
                gutter: 20,
                edgePadding: 20,
                responsive: {
                    500: {
                        items: 2
                    },
                    1023: {
                        items: 3
                    }
                },
                swipeAngle: false,
                speed: 400
            };
            var slider = tns(opts);
    section.grey#demos
        .inner
            .center
                h2.nmt Nossas demos
                .hSub Cada demo é open-source e vem junto com o ct.js
            .aCardList
                +aCard("Greed — um pequeno jogo de plataformas bobo", "/img/demoCatformer.png", "https://comigo.itch.io/catformer")
                    p.
                        Colete todas as moedas no mapa!
                    p.nmb.
                        Esta demonstração mostra como criar um mundo de visão lateral jogando animações de sprite, transformando cópias, criando inimigos simples, lidando com os entrada do teclado e detecção de colisões.
                +aCard("Catsteroids — um atirador espacial", "/img/demoCatsteroids.png", "https://comigo.itch.io/catsteroids")
                    p.
                        Voe pelo espaço, colete bônus, ganhe pontos e destruir asteróides e navios inimigos!
                    p.nmb.
                        Esta demonstração mostra como lidar com a entrada do teclado, criar menus básicos, lidar com colisões e crie novos objetos durante o tempo de reprodução.
                +aCard("Memocats — um quebra-cabeça", "/img/demoMemocats.png", "https://comigo.itch.io/memocats")
                    p.
                        Encontre cartas idênticas para limpar o tabuleiro.
                    p.nmb.
                        Esta demonstração mostra como reproduzir sons, animar coisas e use a biblioteca principal do ct.js.
                .clear
                .center
                    a.button.big(href="/br/madeWithCtjs") Feito com ct.js
    section#essencials.blue
        .inner
            h2.center.nmt ct.js tem tudo que você precisa para fazer um jogo
            -
                var essencials = {
                    'drag-n-drop2': 'Sala / Editor de fase com suporte a ladrilho',
                    'code': 'Integrado com editor de códigos com um reportador de erros',
                    'layers': 'Colisões, e outras bibliotecas',
                    'photos': 'Quadros & animações esqueléticas',
                    'music': 'Música & gerenciador de sons',
                    'change-style': 'Estilos para reutilizar configurações da GUI',
                    'file': 'Notas & documentos em um painel lateral, em todas as telas',
                    'magic-stick': 'Capacidade de usar JavaScript personalizado',
                    'rocket': 'Embalagem e implantação fáceis'
                }
            .anEssencialsList
                - var i = 0;
                each val, key in essencials
                    .anEssencial.c4.breakon800
                        i(class=`icon-${key}`)
                        p= val
                    - i++;
                    if (i % 3 === 0 && i !== 0)
                        .clear
    section#SOON
        .inner
            h2.center.nmt Em breve
            -
                var essencials = {
                    'drag-n-drop2': 'Novo editor de sala, com pré visualização ao vivo e camadas',
                    'image-gallery': 'Ferramentas de manipulação de imagem básica: girar, tamanho, etc.',
                    'features': 'Parâmetro customizados e transformações copiadas no editor de sala',
                    'cursor-click': 'Editor UI'
                }
            .anEssencialsList
                - var i = 0;
                each val, key in essencials
                    .anEssencial.c6.breakon640
                        i(class=`icon-${key}`)
                        p= val
                    - i++;
                    if ((i % 2 === 0 && i !== 0) || i === Object.keys(essencials).length)
                        .clear
                .center
                    a.button(href="https://github.com/ct-js/ct-js/projects/1" target="_blank") Veja nosso roteiro
    section#downloadCTA.blue.gradient
        .inner
            .fifty.npl
                .hSub Entre no mundo de desenvolvimento de jogos!
                h2.nmt
                    b É grátis!
            .fifty.npr.right
                a.button(href="/br/download")
                    i.icon-save
                    span Baixar
            .clear
    section#partners.grey
        .c3.breakon960
        .c6.center.breakon960
            h2.nmt Nosso parceiro

            img#theMiniJamLogo(src="/img/minijamlogo.png")

            p.big.nmb
                | Mini Jam é uma game jame aberta recorrente que é realizada a cada duas semanas no itch.io.
                |
                |
                a(href="https://discord.gg/kgzG645" target="_blank") Entre no discord deles
                |
                | ou
                |
                a(href="http://minijamofficial.com/" target="_blank") visite o site deles
                |!
        .clear
    section#devlog
        .inner.limited
            h2 Últimas coisas no Devlog
            each item in devlog.posts
                .aDevlogPost
                    h3.nmb
                        a(href=item.link[0])=item.title
                    p.nmt.meta=`Publicado em ${item.pubDate}`
                    .aPostImage!=item.image
                    a.button.nml(href=item.link[0])
                        svg.feather
                            use(xlink:href=`/icons.svg#mail`)
                        span Leia mais…
            p
                a(href="https://comigo.itch.io/ct/devlog") Mais postagens
    section#share.grey
        -
            var url = 'https%3A%2F%2Fctjs.rocks%2F',
                title = 'ct.js%20%E2%80%94%20a%20free%20game%20editor';
        .inner.center
            h2.nmt Ajude ct.js crescer!
            .hSub Conte para seus amigos ;)
            .ShareButtons
                a(href=`http://www.facebook.com/sharer.php?u=${url}` target="_blank")
                    img(src="/img/facebook.svg")
                a(href=`http://vk.com/share.php?url=${url}` target="_blank")
                    img(src="/img/vk.svg")
                a(href=`https://telegram.me/share/url?url=${url}&text=${title}` target="_blank")
                    img(src="/img/telegram.svg")
                a(href=`https://twitter.com/share?url=${url}&text=${title}` target="_blank")
                    img(src="/img/twitter.svg")
                a(href=`whatsapp://send?text=${url}%20${title}` target="_blank" data-action="share/whatsapp/share")
                    img(src="/img/whatsapp.svg")
                a(href=`http://reddit.com/submit?url=${url}&title=${title}` target="_blank")
                    img(src="/img/reddit.svg")
                a(href=`https://plus.google.com/share?url=${url}` target="_blank")
                    img(src="/img/google_plus.svg")
            br
            a(href="https://www.patreon.com/comigo" target="_blank")
                img(src="/img/become_a_patron_button@2x.png" alt="De seu suporte nesse projeto pelo Patreon" title="De seu suporte para o ct.js pelo Patreon")

mixin aCard(title, image, link)
    .c4.breakon800
        .aCard
            .aCardMedia
                img(src=image)
                .aCardButton
                    a.button(href=link target="_blank")
                        i.icon-play
                        span Jogar
            h4.nmt= title
            if block
                block